body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
#timer {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
}
input[type='number'] {
    padding: 10px;
    margin-bottom: 10px;
}